In [1]:
# Import all libraries needed for the tutorial

# General syntax to import specific functions in a library:
##from (library) import (specific library function)
from pandas import DataFrame, read_csv

# General syntax to import a library but no functions:
##import (library) as (give the library a nickname/alias)
import matplotlib.pyplot as plt
import pandas as pd #this is how I usually import pandas
import sys #only needed to determine Python version number
import matplotlib #only needed to determine Matplotlib version number

# Enable inline plotting
%matplotlib inline

In [2]:
from sklearn.model_selection import train_test_split
import warnings
warnings.filterwarnings("ignore")

In [3]:
df = pd.read_csv('../datasets/insurance_miptstats.csv')
df.head()

     birthday     sex     bmi  children smoker     region      charges
0  2001-12-20  female  27.900         0    yes  southwest  16884.92400
1  2003-03-18    male  33.770         1     no  southeast   1725.55230
2  1992-11-02    male  33.000         3     no  southeast   4449.46200
3  1987-07-27    male  22.705         0     no  northwest  21984.47061
4  1988-11-04    male  28.880         0     no  northwest   3866.85520

In [ ]:
df['age'] =